@font-face {
    font-family: 'RobotoSlab';
    src: url('fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoItalic';
    src: url('fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

article {
    width: 80%;
    min-width: 250px;
    max-width: 800px;
    margin: auto 20% auto 20%;
}

body {
    max-width: 800px;
    font-family: 'RobotoLight', sans-serif;
    font-size: 100%;
}

footer {
    width: 80%;
    min-width: 250px;
    max-width: 800px;
}

h1 {
    font-family: 'RobotoSlab', sans-serif;
    font-size: 225%;
    line-height: 50%;
}

h2 {
    font-family: 'RobotoItalic', sans-serif;
    font-size: 131%;
    line-height: 10%;
}


hr {
    color: #6D6E70
}

a {
    color: #D68544;
}
