/* Mobile Greetings e-greeing style template */
/* Styling for e-card viewing page */

/* Type follows 8:9 modular scale */
/* h1     = 2.281 em */
/* h2     = 1.424 em */
/* body   = 1.000 em */
/* footer = 0.790 em */

h1 {
    font-family: 'Roboto Slab', 'Times New Roman', serif;
    font-weight: 700;
    font-size: 2.281em;
}

h2 {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 1.424em;
    line-height: 120%;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 100%;
}

footer {
    color: #6D6E70;
    font-size: 79%;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 800px;
}

/* Logo sizing as defined in brand guide */
#logo {
    margin: 20px auto;
    min-height: 50px;
    max-height: 75px;
    max-width: 270px;
    display: block;
}

#card {
    margin: 18.75px 0;
    width: 90%;
}

#personalized_greeting {
    margin-bottom: 20px;    
}

.button_block {
    overflow: hidden;
}

/* Button colors and radius defined in brand guide */
.button {

    /* Fill, Stroke, and Corner */
    background-color: #6DA673;
    border: 0;
    border-radius: 10px;
    
    /* Layout */
    padding: 15px 20px;
    margin: 0 auto 18.75px auto;
    float: right;
    display: block;
}

/* Use brand guide colors for a and hr elements */
hr {
    margin-top: 10px;
    color: #6D6E70;
}

/* standard link style */
a {
    color: #D68544;
    text-decoration: none;
}

/* Special styling for 'thank you' link */
#thankyou,
#thankyou:link,
#thankyou:hover,
#thankyou:active,
#thankyou:visited {
    
    /* Content style */
    font-family: 'RobotoLight', 'Arial', sans-serif;
    font-size: 100%;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

#copyright {
    text-align: center;
    margin: 50px 0 20px 0;
}

#type_attribution {
    line-height: 110%;
}

/* Adjust mobile type settings based on common standard */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.602em;
    }

    h2 {
        font-size: 1.266em;
    }

    button {
        width: 100%;
    }

    #container {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}
