/* Mobile Greetings e-greeing style template */
/* Styling for e-card viewing page */

/* Overall container settings */
#container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 800px;
}

/* Logo sizing as defined in brand guide */
#logo {
    margin: 0.7em auto 0.6em auto;
    min-height: 50px;
    max-height: 75px;
    max-width: 150px;
    display: block;
}

/* Establish base size for body type */
body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 100%;
}

/* Type follows 8:9 modular scale */
/* h1     = 2.281 em */
/* h2     = 1.424 em */
/* body   = 1.000 em */
/* footer = 0.790 em */

h1 {
    font-family: 'Roboto Slab', 'Times New Roman', serif;
    font-weight: 700;
    font-size: 2.281em;
    line-height: 120%;
    margin-bottom: 0.4em;
}

h2 {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 1.424em;
    line-height: 120%;
    margin-bottom: 0.7em;
}

#card {
    margin-bottom: 0.7em;    
}

#Stage {
    width: 90%;
    max-width: 90%;
    margin-left: 0 !important;
}

#personalized_greeting {
    margin-bottom: 1em;    
}

.button_block {
    overflow: hidden;
}

/* Button colors and radius defined in brand guide */
.button {

    /* Fill, Stroke, and Corner */
    background-color: #6DA673;
    border: 0;
    border-radius: 10px;
    text-align: center;
    
    /* Layout */
    padding: 0.6em 0.9em;
    margin: 0 auto 1.1em auto;
    float: right;
    display: block;
}

/* Special styling for 'thank you' link */
.buttontext,
.buttontext:link,
.buttontext:hover,
.buttontext:active,
.buttontext:visited {
    
    /* Content style */
    font-family: 'RobotoLight', 'Arial', sans-serif;
    font-size: 100%;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

/* Use brand guide colors for a and hr elements */
hr {
    color: #6D6E70;
    margin-bottom: 1em;
}

footer {
    color: #6D6E70;
    font-size: 0.79em;
}

/* standard link style */
a {
    color: #D68544;
    text-decoration: none;
}

/* Adjust mobile type settings based on common standard */
@media screen and (max-width: 330px) {
    h1 {
        font-size: 1.602em;
    }

    h2 {
        font-size: 1.266em;
    }

    .button {
        width: 100%;
    }
}
