/* Mobile Greetings forms template       */
/* Styling for preview and customization */

nav {
    width: 100%;
    background-color: #6D6E70;
    height: 6em;
    margin-top: 0;
    padding-top: 10px;
}

#logo {
    margin-top: 0;
    margin-top: 10px;
}
#card {
    float: clear;
    width: 90%;
    box-sizing: border-box !important;
}

/* Type follows 8:9 modular scale */
/* h1     = 2.281 em */
/* h2     = 1.424 em */
/* body   = 1.000 em */
/* footer = 0.790 em */

label {
    width: 100%;
    display: block;
    font-size: 1.00em;
    font-weight: 500;
}

select,
input,
textarea {
    width: 100%;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 100%;
    padding: 1em;
    margin: 0 0.7em 0 0;
}

select,
input {
    height: 2.125em;
}

textarea {
    max-height: 180px;
    height: 180px;
}

input:valid,
textarea:valid {
    outline: 2px solid #6DA673;
}

input:invalid,
textarea:invalid {
    outline: 2px solid #A55360;
}

textarea {
    box-sizing: border-box;
    margin-bottom: 0;
}

.form_label_value_pair {
    display: block;
    margin-bottom: 1em;
}

#sender_receiver_block {
    float: left;
    margin-right: 3%;
    width: 47%;
}

#date_message_block {
    float: left;
    width: 50%;
    margin-right: 0;
}

#button_block {
    float: right;
    width: 50%;
}

#form_summary {
    color: #6D6E70;
    font-family: 'RobotoLight', 'Arial', sans-serif;
    font-size: 0.887em;
    margin-bottom: 3em;
    margin-left: 1%;
    width: 48%;
    float: right;
}

footer {
    clear: both;
}

button {
    background-color: #6DA673;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'RobotoLight', 'Arial', sans-serif;
    font-size: 1em;
    text-align: center;
    vertical-align: central;
    border: 0;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    margin-bottom: 1.1em;  
    width: 49%;
}

button a {
    color: #ffffff;
}

#preview_button {
    float: left;
    width: 49%;
    background-color: #97BF9A;
}

#send_button {
    float: right;
    width: 49%;
}

/* Adjust mobile type settings based on common standard */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.602em;
    }

    h2 {
        font-size: 1.266em;
    }

    #button_block {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    button {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    select,
    input {
        width: 100%;
    }
    
    #sender_receiver_block {
        width: 100%;
    }

    #date_message_block {
        width: 100%;
    }
    
    #form_summary {
        width: 100%;
        float: clear;
    }
}